[Desktop Entry]
Name=Tumbleweed Updater
Comment=KDE Plasma Software Updater for openSUSE Tumbleweed
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=ConteZero
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-Name=com.contezero.twupdater
X-KDE-PluginInfo-Version=1.0

X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-NotificationArea=true
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=System Information
Icon=system-software-update
X-KDE-PluginInfo-EnabledByDefault=true
